@font-face {
  font-family: "Satoshi";
  src:
    url("./assets/fonts/satoshi-variable.woff2") format("woff2"),
    url("./assets/fonts/satoshi-variable.woff") format("woff"),
    url("./assets/fonts/satoshi-variable.ttf") format("ttf"),
    url("./assets/fonts/satoshi-variableitalic.woff2") format("woff2"),
    url("./assets/fonts/satoshi-variableitalic.woff") format("woff"),
    url("./assets/fonts/satoshi-variableitalic.ttf") format("ttf");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

main > .loading-screen-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  max-width: none;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 100;
  transition: opacity 0.5s;
}

.loading-screen-container > .progressable-container {
  position: relative;
  font-family:
    "Satoshi",
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: transparent;
  background: no-repeat url("./assets/progressable-white-bgc.jpg");
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-background-clip: text;
  background-clip: text;
  background-position-x: -100vw;
  font-weight: 700;
  font-size: 30vh;
  overflow: hidden;
  user-select: none;
  transition: transform 0.2s;
}

@keyframes slide-out-top {
  10% {
    transform: translateY(-10%) rotate(1.5deg);
  }

  20% {
    transform: translateY(-9%) rotate(1deg);
  }

  100% {
    transform: translateY(-70vh) rotate(5deg);
  }
}
/* This applies styles when the height is greater than the width */
@media screen and (max-aspect-ratio: 1/1) {
  .loading-screen-container > .progressable-container {
    font-size: 30vw;
  }
}
