@font-face {
  font-family: 'Indivisible';
  src: url('./assets/fonts/Indivisible-SemiBold.woff2') format('woff2'),
       url('./assets/fonts/Indivisible-SemiBold.woff') format('woff'),
       url('./assets/fonts/Indivisible-SemiBold.eot') format('eot'),
       url('./assets/fonts/Indivisible-SemiBold.ttf') format('ttf');
}

:root {
  --img-ratio: 0.504;
  --box-shadow-bgc: 53, 56, 92;
}

::selection {
  color: black;
  background-color: #ffd064;
}

::-moz-selection {
  color: black;
  background-color: #ffd064;
}

html {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  scroll-behavior: smooth;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 2rem;
  margin: 8px 0;
}

p {
  font-size: 1.5rem;
  color: #9e9e9e;
}

body {
  margin: 0;
  background-color: #020202;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-heading {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin-top: 0;
}

.banner-heading img {
  max-height: min(140vh, 1500px);
  user-select: none;
}

main > * {
  max-width: 1500px;
  margin-left: 50px;
  margin-right: 50px;
}

.animated-h2-container {
  position: relative;
  margin: 66.4px 0;
}

.animated-h2-container > .h2-container {
  height: 90px;
  overflow-y: hidden;
}

.h2-container > h2 {
  margin: 0;
}

.animated-h2-container > .underline {
  position: absolute;
  top: 90px;
  min-width: 240px;
  border-radius: 50%;
  height: .15rem;
  background-color: #fff;
  opacity: .1;
}

.animated-h2-container > .underline-shadow {
  filter: blur(10px);
  top: 100px;
  opacity: .1;
}

.spawn-heading-forward {transform: translateY(0);}

.spawn-heading-idle {transform: translateY(100%);}

.spawn-heading {animation: spawn-heading 1s;}

.spawn-underline {animation: spawn-underline 1s forwards;}

@keyframes spawn-heading {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  80% {
    transform: translateY(-10%);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }

}

@keyframes spawn-underline {
  0% {
    opacity: .1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.projects-section {
  width: 1500px;
  margin-bottom: 180px;
}

.project-title-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.project-title-container .underline {
  min-width: 320px;
}

.project-title {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  top: 0;
  left: 0;
  transform: translateX(1500px);
}

.project-title.center {
  transform: translateX(0);
  transition: transform .2s;
}

.project-title.left {
  transform: translateX(-1500px);
  transition: transform .2s;
}

.project-title.moving-left.right {
  transform: translateX(1500px);
  transition: none;
}

.project-title.moving-right.right {
  transform: translateX(1500px);
  transition: transform .2s;
}

.project-title.moving-right.left {
  transform: translateX(-1500px);
  transition: none;
}

.projects-first-title {
  transition: transform 1s, color 1s;
}

.projects-first-title.minimize-up {
  transform: scale(.3) translate(-115%, -170%);
  color: #676767;
  transition: transform .2s cubic-bezier(.86,-0.01,.62,1.09), color .2s cubic-bezier(.86,-0.01,.62,1.09);
}

.current-project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: start;
  column-gap: 70px;
}


.img-slider-container {
  position: relative;
  grid-row: 1/2;
  width: 800px;
  height: calc(800px * var(--img-ratio));
}

.img-slider-container .sliding-img {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  transition: transform .2s;
  user-select: none;
}

.img-slider-container .sliding-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: opacity .2s;
}

.sliding-img img {
  max-width: 100%;
}

.sliding-img img:nth-of-type(2) {
  position: absolute;
  opacity: 0;
  filter: blur(45px);
  z-index: -1;
  transition: opacity .2s;
}

.carousel-left-left {
  transform: translateX(-13%) scale(.8);
  z-index: -3;
}

.carousel-left-left::before {
  opacity: .85;
}


.carousel-left {
  transform: translateX(-7%) scale(.9);
  z-index: -2;
}

.carousel-left::before {
  opacity: .6;
}

.carousel-center {
  transform: translateX(0) scale(1);
  z-index: 0;
}

.carousel-center::before {
  opacity: 0;
}

.carousel-right {
  transform: translateX(7%) scale(.9);
  z-index: -2;
}

.carousel-right::before {
  opacity: .6;
}

.carousel-right-right {
  transform: translateX(13%) scale(.8);
  z-index: -3;
}

.carousel-right-right::before {
  opacity: .85;
}

.carousel-hide-left {
  transform: translateX(-19%) scale(.7);
  opacity: 0;
}

.carousel-hide-right {
  transform: translateX(19%) scale(.7);
  opacity: 0;
}

.box-shadow-visible > img:nth-of-type(2) {
  opacity: .5;
}

.project-date-container {
  grid-row: 2/3;
  justify-self: center;
}

.project-date-container > p {
  font-size: 1.3rem;
  font-weight: bold;
  transition: opacity .2s;
}

.project-date-container > p.hide {
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
}

.project-date-container > p.show {
  opacity: .8;
}

.project-related-container {
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-related-container > * {
  position: relative;
}

.project-related-container p {
  transition: opacity .2s;
  margin: 5px 0;
}

.project-related-container > .project-btns {
  display: flex;
  margin-top: 10px;
  gap: 15px;
}

.project-btns > * {
  background-color: #050505;
  color: white;
  font-family: "Indivisible";
  border: 1px solid rgb(30, 30, 30);
  box-sizing: border-box;
  border-radius: .5rem;
  font-size: 1.8rem;
  padding: .75rem 1rem;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, .8);
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  cursor: pointer;
  user-select: none;
  transition: background-color .1s;
}

.project-btns > .preview-btn {
  background-color: #dab359;
  color: black;
  border: 1px solid rgb(149, 123, 61);
  box-shadow: 0 1px 2px 0 rgba(218, 179, 89, .8);
}

.project-btns > *:hover {
  background-color: #0f0f0f;
}

.project-btns > .preview-btn:hover {
  background-color: #f1c661;
}

.hide {
  position: absolute;
  top: 50px;
  visibility: hidden;
  opacity: 0;
}

.show {
  opacity: 1;
}

.arrows-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.arrows-container > svg {
  fill: rgba(0, 0, 0, .7);
  max-width: 10%;
  max-height: 10%;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
}

@media screen and (max-width: 1620px) {
  .projects-section {
    width: auto;
    max-width: 1500px;
  }
}

@media screen and (max-width: 1200px){
  h2 {
    font-size: 4rem;
  }

  .animated-h2-container {
    margin: 53.1px 0;
  }

  .animated-h2-container > .h2-container {
    height: 70px;
  }

  .animated-h2-container > .underline {
    top: 70px;
    min-width: 190px;
  }

  .project-title-container .underline {
    min-width: 258px;
  }

  .current-project-container {
    display: flex;
    flex-direction: column;
  }

  .img-slider-container {
    width: 100%;
  }

  .project-date-container {
    align-self: center;
  }
}

@media screen and (max-width: 600px) {
  main > * {
    margin-left: 25px;
    margin-right: 25px;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .project-btns > * {
    font-size: 1.3rem;
    padding: .5rem .75rem;
  }

  p {
    font-size: initial;
  }

  .animated-h2-container {
    margin: 26.56px 0;
  }

  .animated-h2-container > .h2-container {
    height: 40px;
  }

  .animated-h2-container > .underline {
    top: 40px;
    min-width: 98px;
  }

  .project-title-container .underline {
    min-width: 130px;
  }

  .project-date-container > p {
    font-size: .8rem;
  }
}

@media screen and (max-aspect-ratio: 17/10) {
  .banner-heading img {
    margin-left: 10%;
  }
}

@media screen and (max-aspect-ratio: 31/20) {
  .banner-heading img {
    margin-left: 25%;
  }
}

@media screen and (max-aspect-ratio: 7/5) {
  .banner-heading img {
    margin-left: 40%;
  }
}
@media screen and (max-aspect-ratio: 31/25) {
  .banner-heading img {
    margin-left: 55%;
  }
}

@media screen and (max-aspect-ratio: 28/25) {
  .banner-heading img {
    max-width: 330vw;
  }
}

