
@font-face {
    font-family: 'Indivisible';
    src: url('./assets/fonts/Indivisible-Black.eot');
    src: local('Indivisible Black'), local('Indivisible-Black'),
        url('./assets/fonts/Indivisible-Black.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Indivisible-Black.woff2') format('woff2'),
        url('./assets/fonts/Indivisible-Black.woff') format('woff'),
        url('./assets/fonts/Indivisible-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Indivisible';
    src: url('./assets/fonts/Indivisible-Bold.eot');
    src: local('Indivisible Bold'), local('Indivisible-Bold'),
        url('./assets/fonts/Indivisible-Bold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Indivisible-Bold.woff2') format('woff2'),
        url('./assets/fonts/Indivisible-Bold.woff') format('woff'),
        url('./assets/fonts/Indivisible-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Indivisible';
    src: url('./assets/fonts/Indivisible-BoldItalic.eot');
    src: local('Indivisible Bold Italic'), local('Indivisible-BoldItalic'),
        url('./assets/fonts/Indivisible-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Indivisible-BoldItalic.woff2') format('woff2'),
        url('./assets/fonts/Indivisible-BoldItalic.woff') format('woff'),
        url('./assets/fonts/Indivisible-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Indivisible';
    src: url('./assets/fonts/Indivisible-BlackItalic.eot');
    src: local('Indivisible Black Italic'), local('Indivisible-BlackItalic'),
        url('./assets/fonts/Indivisible-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Indivisible-BlackItalic.woff2') format('woff2'),
        url('./assets/fonts/Indivisible-BlackItalic.woff') format('woff'),
        url('./assets/fonts/Indivisible-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

:root {
  --img-ratio: 0.504;
  --box-shadow-bgc: 53, 56, 92;
}

html {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

p {
  font-size: 1.5rem;
  color: #9e9e9e;
}

body {
  margin: 0;
  background-color: #020202;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-heading {
  max-width: 100%;
  margin-top: 0;
  object-fit: cover;
  object-position: left center;
}

.banner-heading img {
  max-width: 100%;
}

main > * {
  max-width: 70%;
  min-height: 70%;
  margin: 50px 0;
}

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 180px;
}

.img-slider-container {
  position: relative;
  width: 60vw;
  height: calc(60vw * var(--img-ratio));
  user-select: none;
}

.img-slider-container .sliding-img {
  position: absolute;
  display: flex;
  align-items: center;
  transition: transform .2s;
}

.img-slider-container .sliding-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: opacity .2s;
}

.sliding-img img {
  max-width: 100%;
}

.sliding-img img:nth-of-type(2),
.sliding-img picture:nth-of-type(2) img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: blur(45px);
  z-index: -1;
  transition: opacity .2s;
}

.carouselLeftLeft {
  transform: translateX(-13%) scale(.8);
  z-index: -3;
}

.carouselLeftLeft::before {
  opacity: .85;
}

.carouselLeft {
  transform: translateX(-7%) scale(.9);
  z-index: -2;
}

.carouselLeft::before {
  opacity: .6;
}

.carouselCenter {
  transform: translateX(0) scale(1);
  z-index: 0;
}

.carouselCenter::before {
  opacity: 0;
}

.carouselRight {
  transform: translateX(7%) scale(.9);
  z-index: -2;
}

.carouselRight::before {
  opacity: .6;
}

.carouselRightRight {
  transform: translateX(13%) scale(.8);
  z-index: -3;
}

.carouselRightRight::before {
  opacity: .85;
}

.carouselHideLeft {
  transform: translateX(-19%) scale(.7);
  opacity: 0;
}

.carouselHideRight {
  transform: translateX(19%) scale(.7);
  opacity: 0;
}

.box-shadow-visible > img:nth-of-type(2) {
  opacity: .6;
}

.project-description-container {
  position: relative;
  margin: 40px 0;
}

.project-description-container > p {
  text-align: center;
  transition: opacity .2s;
}

.project-description-container > :last-child {
  position: absolute;
  top: 0;
  left: 0;
}

.hide { opacity: 0 }

.show { opacity: 1 }
